{% extends "html_container.html" %}

{% block page_title %}
    Issuer - QR Code
{% endblock %}

{% block page_content %}
<!-- Navigation bar -->
    <nav class="fixed-bottom navbar-light bg-dark">
        <div class="container-fluid py-2">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="{{ url_for('issuer_impfwissen') }}">
                        <!-- Impfwissen Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-info-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- QR-code Icon (Aktiv)-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#349B73" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </li> 
                <li class="nav-item">
                    <a href="{{ url_for('issuer_profil') }}">
                        <!-- Profil Icon (Aktiv) -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    </a>
                </li> 
            </ul>
        </div>
    </nav>

{% if  issuer_create_cr%}
    <h1> Impfnachweis für {{f_name,l_name}} erfolgreich ausgestellt</h1>   
{% else%}
    <h1> Impfnachweis ausstellen</h1> 
    <br>
    <form method="POST" action= "/QR">
        <div>
            {{ form.hidden_tag() }}
        {{form.f_name.label(class="form-label")}}
        {{form.f_name(class="form-control") }}
        </div>
        <div>
        {{form.l_name.label(class="form-label")}}
        {{form.l_name(class="form-control") }}
        </div>
        <div>
        {{form.date_of_birth.label(class="form-label")}}
        {{form.date_of_birth(class="form-control") }}
        </div>
        <div>
        {{form_date_of_vaccination.label(class="form-label")}}
        {{form.date_of_vaccination(class="form-control") }}
        </div>
        <div>
        {{form.disease.label(class="form-label")}}
        {{form.diesease(class="form-control") }}
        </div>
        <div>
        {{form.vaccine.label(class="form-label")}}
        {{form.vaccine(class="form-control") }}
        </div>
        <div>
        {{form.medicinal_product.label(class="form-label")}}
        {{form.medicinal_product(class="form-control") }}
        </div>
        <div>
        {{form.accine_marketing_authorization_holder.label(class="form-label")}}
        {{form.accine_marketing_authorization_holder(class="form-control") }}
        </div>
        <div>
        {{form.batch_number.label(class="form-label")}}
        {{form.batch_number}(class="form-control") }
        </div>
        <div>
        {{form.number_of_doses_expected.label(class="form-label")}}
        {{form.number_of_doses_expected(class="form-control") }}
        </div>
        <div>
        {{form.number_of_doses_administered.label(class="form-label")}}
        {{form.number_of_doses_administered(class="form-control") }}
        </div>
        <div>
        {{form.member_state.label(class="form-label")}}
        {{form.member_state(class="form-control") }}
        </div>
        <div>
        {{form.certificate_issuer.label(class="form-label")}}
        {{form.certificate_issuer(class="form-control") }}
        </div>
        <div>
        {{form.submit(class="btn btn-secondary" ) }}
        </div>
    </form>
   </div>
{% endblock %}
