{% extends "html_container.html" %}

{% block page_title %}
    Issuer - QRCode
{% endblock %}
{% block page_content %}
<!-- Navigation bar -->
    <nav class="fixed-bottom navbar-light bg-dark">
        <div class="container-fluid py-2">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="{{ url_for('issuer_impfwissen') }}">
                        <!-- Impfwissen Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-info-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- QR-code Icon (Aktiv)-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#349B73" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </li> 
                <li class="nav-item">
                    <a href="{{ url_for('issuer_profil') }}">
                        <!-- Profil Icon (Aktiv) -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    </a>
                </li> 
            </ul>
        </div>
    </nav>

    <div class = "container my-5">
        <form method="POST" action = "{{url_for('issuer_create_qr')}}">
            {{form.hidden_tag()}}

            <fieldset>
                <legend class = "border-bottom -mb-4">Impfnachweis ausstellen</legend>
                <div class = "form-group">

                    {{form.f_name.label(class="form-control-label")}}
                

                    {% if form.f_name.errors %}
                        {{form.f_name(class="form-control form-control-lg is invalid")}}
                        {% for error in form.f_name.errors %}
                        {% endfor %}
                    {% else %}
                        {{form.f_name(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class = "form-group">

                    {{form.l_name.label(class="form-control-label")}}

                    {% if form.l_name.errors%}
                        {{form.l_name(class="form-control form-control-lg is invalid")}}
                        {%for error in form.l_name.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.l_name(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">

                    {{form.date_of_birth.label(class="form-control-label")}}


                    {%if form.date_of_birth.errors%}
                        {{form.date_of_birth(class="form-control form-control-lg is invalid")}}
                        {%for error in form.date_of_birth.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.date_of_birth(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">

                    {{form.date_of_vaccination.label(class="form-control-label")}}

                    {%if form.date_of_vaccination.errors%}
                        {{form.date_of_vaccination(class="form-control form-control-lg is invalid")}}
                        {%for error in form.date_of_vaccination.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.date_of_vaccination(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">
                    {{form.vaccine_category.label(class="form-control-label")}}

                    {% if form.vaccine_category.errors %}
                        {{form.vaccine_categroy(class="form-control form-control-lg is invalid")}}
                        {% for error in form.vaccine_category.errors %}
                        {% endfor %}     
                    {% else %}
                        {{form.vaccine_category(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">
                    {{form.disease.label(class="form-control-label")}}

                    {% if form.disease.errors %}
                        {{form.disease(class="form-control form-control-lg is invalid")}}
                        {% for error in form.disease.errors %}
                        {% endfor %}     
                    {% else %}
                        {{form.disease(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">
                    {{form.vaccine.label(class="form-control-label")}}

                    {% if form.vaccine.errors %}
                        {{form.vaccine(class="form-control form-control-lg is invalid")}}
                        {% for error in form.vaccine.errors %}
                        {% endfor %}     
                    {% else %}
                        {{form.vaccine(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">
                    {{form.vaccine_marketing_authorization_holder.label(class="form-control-label")}}

                    {% if form.vaccine_marketing_authorization_holder.errors %}
                        {{form.vaccine_marketing_authorization_holder(class="form-control form-control-lg is invalid")}}
                        {% for error in form.vaccine_marketing_authorization_holder.errors %}
                        {% endfor %}     
                    {% else %}
                        {{form.vaccine_marketing_authorization_holder(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">
                    {{form.batch_number.label(class="form-control-label")}}

                    {%if form.batch_number.errors%}
                        {{form.batch_number(class="form-control form-control-lg is invalid")}}
                        {%for error in form.batch_number.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.batch_number(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">

                    {{form.issued_at.label(class="form-control-label")}}
                    {%if form.issued_at.errors%}
                        {{form.issued_at(class="form-control form-control-lg is invalid")}}
                        {%for error in form.issued_at.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.issued_at(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group">

                    {{form.certificate_issuer.label(class="form-control-label")}}
                    {%if form.certificate_issuer.errors%}
                        {{form.certificate_issuer(class="form-control form-control-lg is invalid")}}
                        {%for error in form.certificate_issuer.errors%}
                        {%endfor%}
                    {% else %}
                        {{form.certificate_issuer(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class = "form-group my-4">
                    {{ form.generate_certificate(class="btn btn-secondary" ) }}
                </div>    

            </fieldset>
        </form>   
    </div>

{% endblock %}
