<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Required Meta-Tags for compatibility and bootstrap-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Integrating stylesheet for bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        

        <!-- Integrating custom stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">

        <!-- Block for additional page specific style sheets -->
        {% block style_sheets %}
        {% endblock %}

        <!-- Placeholder for Title -->
        <title>{% block page_title %}{% endblock %}</title>
    </head>


    <body>
        <!-- Placeholder for Content -->
        {% block page_content %}
        {% endblock %}

        <!-- Integrating Bundle with popper for bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
